* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html,
body {
  background-color: #454852;
  font-family: Georgia, serif;
  height: 90vh;
}

h1 {
  text-align: center;
}

.main {
  margin-top: 10vh;
}

@media screen and (max-width: 768px) {
  body h1 {
    font-size: 16px;
  }
}
